/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
	touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
	user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}
.noUi-connect {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-origin {
	position: absolute;
	height: 0;
	width: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	width: 15px;
	height: 15px;
	left: -17px;
	top: -6px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

/* Styling;
 */
.noUi-target {
	background: #FAFAFA;
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connect {
	background: #3FB8AF;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
	transition: background 450ms;
}

/* Handles and cursors;
 */
.noUi-draggable {
	cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: n-resize;
}
.noUi-handle {
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFF;
	cursor: default;
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #EBEBEB,
				0 3px 6px -3px #BBB;
}
.noUi-active {
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #DDD,
				0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 */

[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}

/*----------------------------------------------------
	Custom Style - Supercooldesign
-----------------------------------------------------*/

.noUi-target {
	border-radius: 0px;
	box-shadow: none;
	border: none;
	height: 5px;
	background: #BCBFC3;
	margin-top: 70px;
	margin-bottom: 40px;
}

.noUi-pips .noUi-value-sub, .noUi-pips .noUi-value-large {
  display: none; 
}

.noUi-pips .noUi-marker-sub, .noUi-pips .noUi-marker-large {
  top: -9px;
  height: 14px;
  width: 4px;
  background: #BCBFC3; 
}

.noUi-base .noUi-connect:nth-child(4) {
  background: #DC5942; 
}

.noUi-base .noUi-connect:nth-child(6), .noUi-base .noUi-connect:nth-child(2) {
  background: #566576; 
}

.firstHandle, .fourthHandle {
	top: 20px !important;
}

.secondHandle, .thirdHandle {
	top: -27px !important;
}

.noUi-handle {
	border: none;
	border-radius: 0px;
	box-shadow: none;
	background: none;
}

.noUi-handle:before {
	display: none;
}

.noUi-handle:after {
	content: "move";
	position: absolute;
	top: 0;
	left: 11px;
	background: none;
	font-family: 'Craft';    
    word-wrap: normal !important;
    color: rgba(0,0,0,0.2);
    cursor: move;
}

.noUi__output {
	background-color: #BDC0C4;
	display: inline-block;
	margin-top: 10px;
	padding: 3px;
	border-radius: 2px;
	font-size: 12px;
	color: #fff;
}

.noUi__total {
	background-color: #BDC0C4;
	display: inline-block;
	padding: 3px;
	border-radius: 2px;
	position: absolute;
	top: 18px;
	right: 0;
	font-size: 10px;
	color: #fff;
}

.noUi__info-block {
	position: absolute;
	top: 25px;
	left: 0;
	color: #BDC0C4;
	font-size: 10px;
}

.noUi__info-block div {
	display: inline-block;
	margin-right: 5px;
}

.noUi__width-info span {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #DC5942;
	vertical-align: inherit;
}

.noUi__margin-info span {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #566576;
	vertical-align: inherit;
}