/**
 * Entries fieldtype with inline search
 */
.supercooltools-elementsearch .add { position: relative; z-index: 1; display: inline-block; width: 12em; }

body.ltr .supercooltools-elementsearch .add .text { padding-right: 30px; }
body.rtl .supercooltools-elementsearch .add .text { padding-left: 30px; }

.supercooltools-elementsearch .add .spinner { position: absolute; top: 0; }
body.ltr .supercooltools-elementsearch .add .spinner { right: 5px; }
body.rtl .supercooltools-elementsearch .add .spinner { left: 5px; }

body.ltr .supercooltools-elementsearch__menu ul li a { padding-left: 32px; }
body.rtl .supercooltools-elementsearch__menu ul li a { padding-right: 32px; }

body.ltr .supercooltools-elementsearch__menu ul li a .status { float: left; }
body.rtl .supercooltools-elementsearch__menu ul li a .status { float: right; }
body.ltr .supercooltools-elementsearch__menu ul li a .status { margin: 3px 0 0 -18px ; }
body.rtl .supercooltools-elementsearch__menu ul li a .status { margin: 3px -18px 0 0 ; }


/**
 * Hide delete icons in disabled fields
 */
.supercooltools-disabledcategories .delete,
.supercooltools-disabledelements .delete {
  display: none;
}


/**
 * Freshdesk bits
 */
#supercooltools-freshdesk .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
#supercooltools-freshdesk iframe { position: relative; }
