{% if name is defined and name %}
	<input type="hidden" name="{{ name }}" value="">
{% endif -%}

{% set elements = (elements is defined and elements ? elements : []) -%}
{% set jsClass = (jsClass is defined and jsClass ? jsClass : 'Craft.BaseElementSelectInput') -%}
{% set sources = (sources is defined and sources ? sources : null) -%}
{% set criteria = (criteria is defined and criteria ? criteria : null) -%}
{% set sourceElementId = (sourceElementId is defined and sourceElementId ? sourceElementId : null) -%}
{% set storageKey = (storageKey is defined and storageKey ? storageKey : null) -%}
{% set viewMode = (viewMode is defined ? viewMode : 'list') %}

<div id="{{ id }}" class="elementselect disabled supercooltools-disabledelements">
	<div class="elements">
		{% for element in elements %}
			{% include "_elements/element" with {
				context: 'field',
				size: (viewMode == 'large' ? 'large' : 'small')
			} %}
		{% endfor %}
	</div>
</div>
