{% import "_includes/forms" as forms %}

{{
	forms.hidden({
		label: 'Width'|t,
		placeholder: 'Enter width value',
		name: name~'[width]',
		id: name~'-width',
		value: value.width,
	})
}}

{{
	forms.hidden({
		label: 'Left'|t,
		placeholder: 'Enter left offset value',
		name: name~'[left]',
		id: name~'-left',
		value: value.left
	})
}}

{{
	forms.hidden({
		label: 'Right'|t,
		placeholder: 'Enter right offset value',
		name: name~'[right]',
		id: name~'-right',
		value: value.right
	})
}}


{% set sliderFieldCss %}
	#{{namespaceId}}-slider {
		margin-top: 50px;
		margin-bottom: 40px;
	}
{% endset %}
{% includeCss sliderFieldCss %}
{% includeCssResource "supercoolTools/css/nouislider.css" %}

<div id="{{ name }}-slider"></div>

{% set leftKey = "" %}
{% set rightKey = "" %}
{% set widthKey = "" %}

{% for key, val in value.leftOptions %}
	{% if val == value.left %}
		{% set leftKey = key + 1 %}
	{% endif %}
{% endfor %}

{% for key, val in value.rightOptions %}
	{% if val == value.right %}
		{% set rightKey = key + 1 %}
	{% endif %}
{% endfor %}

{% for key, val in value.widthOptions %}
	{% if val == value.width %}
		{% set widthKey = key + 1 %}
	{% endif %}
{% endfor %}

{% if not widthKey %} {% set widthKey = 0 %} {% endif %}
{% if not leftKey %}  {% set leftKey = 0 %}  {% endif %}
{% if not rightKey %} {% set rightKey = 0 %} {% endif %}


{% set sliderFieldJS %}

	var widthOptions = {{ value.widthOptions | json_encode | raw }};
	var leftOptions  = {{ value.leftOptions | json_encode | raw }};
	var rightOptions = {{ value.rightOptions | json_encode | raw }};

	var slider = document.getElementById("{{namespaceId}}-slider");

	noUiSlider.create(slider, {
		start: [ {{ leftKey }} - widthOptions.length, {{ leftKey }}, {{ leftKey + widthKey }}, {{ (leftKey + widthKey) + rightKey}}],
		connect: [false, true, true, true, false],
		margin: 0,
		step: 1,
		tooltips: false,
		range: {
			'min': 0,
			'max': widthOptions.length
		}
	});

	slider.noUiSlider.on('update', function(values, handle) {

		left = parseInt(values[0]);
		right = parseInt(values[3]);
		second = parseInt(values[1]);
		third = parseInt(values[2]);

		width = third - second;
		spaceLeft = second - left;
		spaceRight = right - third;

		output = "Left: " + spaceLeft + " | Width: " + width + " | Right: " + spaceRight;
		document.getElementById('{{namespaceId}}-output').innerHTML = output;

	});


	slider.noUiSlider.on('end', function(values, handle) {

		left = parseInt(values[0]);
		right = parseInt(values[3]);
		second = parseInt(values[1]);
		third = parseInt(values[2]);

		width = third - second;
		spaceLeft = second - left;
		spaceRight = right - third;

		$('#{{namespaceId}}-width').val( widthOptions[width - 1] );
		$('#{{namespaceId}}-left').val( leftOptions[spaceLeft - 1] );
		$('#{{namespaceId}}-right').val( rightOptions[spaceRight - 1] );

	});

	// Settings classes on handles
	var origins = slider.getElementsByClassName('noUi-handle');
	origins[0].className += origins[0].className ? ' firstHandle' : 'firstHandle';
	origins[1].className += origins[1].className ? ' secondHandle' : 'secondHandle';
	origins[2].className += origins[2].className ? ' thirdHandle' : 'thirdHandle';
	origins[3].className += origins[3].className ? ' fourthHandle' : 'fourthHandle';


{% endset %}
{% includeJsResource "supercoolTools/js/nouislider.js" %}
{% includeJs sliderFieldJS %}

<div id="{{name}}-output"></div>










